<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/styles/cart.css">
</head>

<body>

    <h1>Carrito de Compras</h1>
    <ul>
        {{#each cart.products}}
        <li>
            <h2>{{this.title}}</h2>
            <p>Cantidad: {{this.quantity}}</p>
            <p>Precio unitario: ${{this.price}}</p>
            <p>Precio total: ${{this.totalPrice}}</p>
            <button class="cart-remove-button"
                onclick="removeProductFromCart('{{../user.cart}}', '{{this._id}}')">Eliminar del Carrito</button>
        </li>
        {{/each}}
    </ul>
    <button class="cart-button-finalize" onclick="finalizePurchase('{{user.cart}}')">Finalizar Compra</button>
    <a href="/products">Volver a la Lista de Productos</a>
    <script src="/js/cart.js"></script>
    <script src="/js/products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>

</body>

</html>