<body>
  <h1>Bienvenido a la página de inicio</h1>
  <div>
    {{#each products}}
    <div>
      <p>Id: {{this._id}}</p>
      <p>Title: {{this.title}}</p>
      <p>Description: {{this.description}}</p>
      <p>Code: {{this.code}}</p>
      <p>Price: {{this.price}}</p>
      <p>Status: {{this.status}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Category: {{this.category}}</p>
      <p>Thumbnail: {{this.thumbnail}}</p>
    </div>
    {{/each}}
  </div>
</body>
</html>
