<body>
  <h1>Bienvenido a la página de inicio</h1>
  <div>

    <p>Id: {{products.id}}</p>

    <p>Title: {{products.title}}</p>

    <p>Description: {{products.description}}</p>

    <p>Code: {{products.code}}</p>

    <p>Price: {{products.price}}</p>

    <p>Status: {{products.status}}</p>

    <p>Stock: {{products.stock}}</p>

    <p>Category: {{products.category}}</p>

    <p>Thumbnail: {{products.thumbnail}}</p>

  </div>

</body>