<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/styles/products.css">
</head>

<body>
    <h1>Lista de Productos</h1>
    <ul class="product-grid">
        {{#each products}}
        <li data-product-id="{{this._id}}">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Disponibilidad: {{this.stock}} en stock</p>
            <p>Categoría: {{this.category}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" />
            <br>

            <!-- Botones de incremento y decremento -->
            <button onclick="decrementQuantity('{{this._id}}')">-</button>
            <span id="quantity{{this._id}}">0</span>
            <button onclick="incrementQuantity('{{this._id}}')">+</button>
            <br>
            <br>
            <!-- Botón agregar al carrito -->
            <button onclick="addProductToCart('{{this._id}}', '{{../user.cart}}')">Agregar al Carrito</button>
        </li>
        {{/each}}
    </ul>
    <div class="center-button">
        <button class="cart-button" onclick="viewCart('{{user.cart}}')">Ver Carrito</button>
    </div>

    <script src="/js/products.js"></script>
</body>

</html>