<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/styles/products.css">
</head>

<body>
    <h1>Lista de Productos</h1>
    <ul class="product-grid">
        {{#each products}}
        <li>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Disponibilidad: {{this.stock}} en stock</p>
            <p>Categoría: {{this.category}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" />
            <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
        </li>
        {{/each}}
    </ul>
    <a href="/carts/6531b43bd4a09ec70ee4cbe5">Ver Carrito</a>


    <script src="/js/scripts.js"></script>
</body>

</html>