<script src="/socket.io/socket.io.js"></script>

<body>
  <h1>Vista de productos en tiempo real</h1>

  <div>

    {{#each products}}

    <div>

      <p>Id: {{this.id}}</p>

      <p>Title: {{this.title}}</p>

      <p>Description: {{this.description}}</p>

      <p>Code: {{this.code}}</p>

      <p>Price: {{this.price}}</p>

      <p>Status: {{this.status}}</p>

      <p>Stock: {{this.stock}}</p>

      <p>Category: {{this.category}}</p>

      <p>Thumbnail: {{this.thumbnail}}</p>

    </div>

    {{/each}}

  </div>

  <!-- Formulario para agregar productos -->
  <form id="addProductForm">
    <input type="text" id="productName" placeholder="Nombre del producto" />
    <input type="number" id="productPrice" placeholder="Precio del producto" />
    <button type="submit">Agregar producto</button>
  </form>

  <!-- Lista de productos -->
  <ul id="productList">
    {{#each products}}
    <li>
      {{this.title}} - ${{this.price}}
      <button class="delete-button" data-id="{{this.id}}">Eliminar</button>
    </li>
    {{/each}}
  </ul>


  <script>
    const socket = io(); // Conectar al servidor WebSocket
    socket.on('connect', () => {
      console.log('Conexión al servidor WebSocket establecida');
    });
    // Escuchar el evento de actualización de productos
    socket.on('updateProducts', (product) => {
      console.log('Evento updateProducts recibido:', product);

      if (product.removedProductId !== undefined) {
        // Eliminar el producto de la lista
        const removedProduct = document.getElementById(`product-${product.removedProductId}`);
        if (removedProduct) {
          removedProduct.remove();
        }
      } else {
        // Agregar el producto a la lista
        const productList = document.getElementById('productList');
        const productItem = document.createElement('li');
        productItem.id = `product-${product.id}`;
        productItem.textContent = `${product.title} - $${product.price}`;

        console.log('Agregando producto:', product);
        console.log('Nuevo elemento productItem:', productItem);

        productList.appendChild(productItem);
      }
    });

    // Ejemplo de console.log para verificar la ejecución de una parte del código
    console.log("Código para manejar eventos del formulario ejecutado.")

    // Manejar el envío del formulario para agregar productos
    const addProductForm = document.getElementById('addProductForm');
    addProductForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const productName = document.getElementById('productName').value;
      const productPrice = parseFloat(document.getElementById('productPrice').value);
      if (productName && !isNaN(productPrice)) {
        // Emitir el evento de producto agregado al servidor
        socket.emit('productAdded', { title: productName, price: productPrice });
      }
    });

  </script>
  <script>
    const deleteButtons = document.querySelectorAll('.deleteProduct');

    deleteButtons.forEach(button => {
      button.addEventListener('click', (event) => {
        const productId = event.target.getAttribute('data-id');
        socket.emit('productRemoved', productId);
      });
    });
  </script>

</body>

</html>